body {
    background: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;           
    text-align: center;
}

.project img {
    width: 100px;  
    height: auto;
    display: block;
    margin-top: 6px;
    border-radius: 5px; 
}

.box {
    border: 2px;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    background: white;      
    color: black;            
}                      

