body {
background: lightblue;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: white;
text-align: center;
}
.project img {
    width: 200px;   /* adjust size as needed */
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 8px; /* optional, just makes it look nicer */
}
