body {
background: lightblue;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: white;
text-align: center;
}
.project img {
    width: 200px;  
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 8px; 
}
.box {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    background: white; 
    color: black;        
}
